h1 {
    margin: 0;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input {
    height: 30px;
    width: 100%;
    margin-top: 40px;
    border: 1px solid rgb(209, 205, 205);
    border-radius: 5px;
    position: relative;
}

button {
    padding: 10px 30px;
    margin-top: 40px;
    border: 1px solid rgb(209, 205, 205);
    border-radius: 5px;
    background-color: rgb(207, 227, 228);
}
